<div class="col-xs-3">
<h1>User Info</h1>
<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tr>
    <td>name</td>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= current_user.introduction %></td>
  </tr>
</table>
<%= link_to edit_user_path(current_user) do %>
  <span class="col-xs-3 btn btn-default glyphicon glyphicon-wrench edit_user_7820"></span>
<% end %><br>

<!-- 新規投稿部分　-->
<h1>New Book</h1>
<%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
     <%= f.submit 'Create Book',class:"btn btn-primary col-x-12" %>
  <% end %>
</div>

<div class="col-xs-9">
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 45, 45, format: 'jpeg', fallback: "no_image.jpg", size: '45x45' %></td>
    <td><%= user.name %></td>
    <td><%= link_to 'show', user_path(user) %></td>
  </tr>
  <% end %>
  </tbody>

</table>
</div>
