<!-- ユーザープロフィール　-->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
     <h1>User Info</h1>
     <table>
      <tr><td><%= attachment_image_tag @books.user, :profile_image, :fill, 200, 120 %></td></tr>
      <tr><td>name</td><td><%= @books.user.name %></td></tr>
      <tr><td>introduction</td><td><%= @books.user.introduction %></td></tr>
     </table>
     <%= link_to edit_user_path(current_user.id) do %>
      <span class="col-xs-3 btn btn-default glyphicon glyphicon-wrench edit_user_7820"></span>
     <% end %>

<!-- 新規投稿部分　-->
     <h1>New Book</h1>
     <%= form_for(@book) do |f| %>
       <h4>Title</h4>
       <%= f.text_field :title,autofocus:true,class:"form-control",id:"inputtitle",placeeholder:"Title" %>
       <h4>Opinion</h4>
       <%= f.text_area :body,autofocus:true,class:"form-control",id:"inputbody",placeeholder:"Body" %>
       <div class="hako">
       <%= f.submit 'Create Book',class:"btn btn-primary col-x-12" %>
      <% end %>
    </div>
    </div>

<!-- 本の詳細部分　-->
    <div class="col-xs-9">
     <h1>Book deteil</h1>
     <table class="table">
   <tbody>
     <tr>
      <td><%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60 %><br>
      <%= link_to @books.user.name, user_path(@books.user) %></td>
      <td><%= link_to @books.title, book_path(@books) %></td>
      <td><%= @books.body %></td>
      <% if @books.user == current_user %>
      <td><%= link_to "edit", edit_book_path(@books) %></td>
      <td><%= link_to "destroy", book_path(@books), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
    </tr>
  </tbody>
    </table>
   </div>
</div>
</div>
